@using Karma.Business.Modules.BlogPostModule.Queries.BlogPostGetByIdQuery
@model BlogPostGetByIdDto

@{
    ViewData["Title"] = "Details";
}










<section class="details section--lg">
    <div class="details__container container grid">
        <div class="details__group">
            <img class="img-fluid" src="~/uploads/images/@Model.ImagePath" alt="">

        </div>
        <div class="details__group">

            @if (Model.Comments > 0)
            {
                <div class="post-info-right">
                    @Model.Comments comment
                </div>
            }

         

        @*  <ul>
                @foreach (var item in Model.Tags)
                {
                    <li><a asp-action="index" asp-route-tag="@item">@item</a></li>
                }
          </ul>*@

          

        </div>
          <h3 class="semi-title">@Model.Title</h3>
    </div>
    @await Component.InvokeAsync("Comments", new { postId = Model.Id })
    <form method="post" id="commentForm"  class="form grid">
        <input type="hidden" name="PostId" asp-for="Id" />
       
        <textarea cols="30" rows="10" placeholder="Ürəy sözünüzü yazın" name="Comment"
                  class="form__input textarea"
                 
                ></textarea>
                <div class="form__group grid">
                  <input type="text" placeholder="Ad" class="form__input">
                  <input type="email" placeholder="Email" class="form__input">
                </div>
                <div class="form__btn">
            @*<input type="submit" value="Submit" class="btn submit">*@
           
            <button type="submit" value="Submit" class="btn submit">Rəy göndərin</button>
                </div>
              </form>
</section>

@section addjs{
    <script src="~/libs/image-letter/image-letter.js"></script>
    <script>
        $(document).ready(function () {

            $('form#commentForm').submit(function (e) {
                e.preventDefault();

                let formData = new FormData(e.currentTarget);

                $.ajax({
                    url: '@Url.Action("AddComment","Blog")',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        let id = $(`input[name=ParentId]`).val();
                        $('ul.comments li:not(.comment-text)').remove();
                        $(`input[name=ParentId]`).val('');

                        let pin = $('.single-comment:last-child');

                        if (pin.length > 0) {
                            if (id.length == 0) {
                                $(response).insertAfter(pin);
                            }
                            else {
                                $(response).insertAfter($(`.single-comment#comment-${id}`));
                            }
                        }
                        else {
                            $(response).insertAfter($(`.comment-area .sidebar-title`));
                        }



                        createAvatar();
                        console.log(response);
                        e.currentTarget.reset();
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            });

        });



        function replyComment(element) {
            let comment = $(element).closest('.single-comment').clone().html();

            let replied = $('<li/>', {
                html: comment
            });

            let id = $(element).data('id');
            $(`input[name=ParentId]`).val(id);

            let btn = replied.find('.btn-reply');
            btn.html(`<i class="fa fa-trash"></i>`);
            btn.unbind().click(function (e) {
                $('ul.comments li:not(.comment-text)').remove();
                $(`input[name=ParentId]`).val('');
            });

            $('ul.comments li:not(.comment-text)').remove();
            replied.insertBefore($('.comment-text'));
        }
    </script>
}

